# terraform_example/.gitignore 파일 

# .gitignore
# Local .terraform directories
**/.terraform/*

# .tfstate files 
*.tfstate
*.tfstate.*
**/.terraform.lock.hcl
**/tfplan

# Crash log files
crash.log

terraform.tfvars

tfplan
*.tfplan